.hero {
    min-height: 400px;
    padding-block: 2rem;
    position: relative;
    isolation: isolate; 


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

    display: grid;
    align-content: center;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(135deg,var(--col-primary-400) 16%, hsl(var(--hsl-primary-400) / .78) 100%);
        // mix-blend-mode: multiply;
        z-index: -1;
    }

    h1 {
        color: #fff;
        font-size: var(--fs-900);
        font-weight: var(--fw-700);
        line-height: 1.1;
        text-align: start;
        text-wrap: balance;
    }

}