.hero {
    min-height: 400px;
    padding-block: 2rem;
    position: relative;
    isolation: isolate; 


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

    display: grid;
    align-content: center;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image:
            linear-gradient(0deg, hsl(var(--hsl-primary-400) / 0.78) 0%, hsl(var(--hsl-primary-400) / 0.78) 100%);
        @media (min-width:576px) {
            background-image:
                linear-gradient(45deg, var(--col-primary-400) 40%, transparent),
                linear-gradient(0deg, hsl(var(--hsl-primary-400) / 0.78) 0%, hsl(var(--hsl-primary-400) / 0.78) 100%);
        }
        @media (min-width:992px) {
            background-image:
                linear-gradient(0deg, hsl(var(--hsl-primary-400) / 0.78) 0%, hsl(var(--hsl-primary-400) / 0.78) 100%),
                radial-gradient(circle at 70%, transparent, var(--col-primary-400) 40%);
        }
        z-index: -1;
    }

    h1 {
        color: #fff;
        font-size: var(--fs-900);
        font-weight: var(--fw-700);
        line-height: 1.1;
        text-align: start;
        text-wrap: balance;
    }

}