.latest_properties {
    background-color: var(--col-secondary-200);

    .property {
        &__card {
            border-radius: var(--border-xs);
            background-color: #fff;
            display: grid;
            grid-template-rows: auto 1fr auto;
            transition: transform var(--transition), box-shadow var(--transition);
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            &:hover {
                transform: translateY(-4px);
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                .readmore::after {
                    transform: translateX(10px);
                }
            }
    
        }
        &__image {
            position: relative;
            overflow: hidden;
        }
        &__flag {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.5rem;
            background-color: var(--col-secondary-400);
            color: #fff;
        }
        &__price {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            background-color: var(--col-primary-400);
            color: #fff;
        }
        &__title {
            font-size: var(--fs-500);
        }
        &__detail {
            padding: 0.5rem;
        }
        &__meta {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
        }
        &__beds,
        &__baths {
            display: flex;
            justify-content: center;
        }
        &__beds::before {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 372.47 263.98'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-miterlimit: 10; %7D .cls-1, .cls-2 %7B fill: none; stroke: %230a3847; stroke-width: 12px; %7D .cls-2 %7B stroke-linejoin: round; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg%3E%3Cpath class='cls-1' d='m57.47,6h257.53c8.28,0,15,6.72,15,15v110.9H42.47V21c0-8.28,6.72-15,15-15Z'/%3E%3Cpath class='cls-1' d='m33.94,131.9h304.59c8.28,0,15,6.72,15,15v57.47H18.94v-57.47c0-8.28,6.72-15,15-15Z'/%3E%3Cpath class='cls-1' d='m80.53,83.56h78.71c8.28,0,15,6.72,15,15v33.33h-108.71v-33.33c0-8.28,6.72-15,15-15Z'/%3E%3Cpath class='cls-1' d='m212.29,83.56h78.71c8.28,0,15,6.72,15,15v33.33h-108.71v-33.33c0-8.28,6.72-15,15-15Z'/%3E%3Crect class='cls-2' x='6' y='204.37' width='360.47' height='24.14'/%3E%3Cpolyline class='cls-2' points='18.94 228.51 18.94 257.98 35.41 257.98 41.59 228.51'/%3E%3Cpolyline class='cls-2' points='353.53 228.51 353.53 257.98 337.06 257.98 330.88 228.51'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            margin-right: 0.5rem;
            display: inline-block;
            width: 35px;
            height: 25px;
        }
        &__baths::before {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360.47 263.58'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px; %7D .cls-1, .cls-2 %7B fill: none; %7D .cls-2 %7B stroke: %230a3847; stroke-linejoin: round; stroke-width: 12px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg%3E%3Cpolyline class='cls-2' points='283.21 218.64 283.21 257.58 266.74 257.58 245.56 218.64'/%3E%3Cpolyline class='cls-2' points='77.18 218.64 77.18 257.58 93.65 257.58 114.82 218.64'/%3E%3Cpath class='cls-2' d='m58.79,150.23h242.53v53.4c0,8.28-6.72,15-15,15H73.79c-8.28,0-15-6.72-15-15v-53.4h0Z'/%3E%3Crect class='cls-2' x='40.79' y='113.53' width='278.88' height='36.71'/%3E%3Cpath class='cls-2' d='m58.79,113.53v-37.24c0-8.28,6.72-15,15-15h20.94'/%3E%3Cline class='cls-2' x1='130.79' y1='43.27' x2='165.38' y2='43.27'/%3E%3Cpath class='cls-2' d='m94.74,113.53V24.35c0-11.61,9.42-18.35,21.03-18.35,9.16,0,14.59,3.54,17.85,9.65l13.65,26.82'/%3E%3C/g%3E%3Crect class='cls-1' y='5.89' width='360.47' height='251.69'/%3E%3C/g%3E%3C/svg%3E");
            margin-right: 0.5rem;
            display: inline-block;
            width: 35px;
            height: 25px;
        }
    }
    .property-placeholder,
    .property__thumb {
        aspect-ratio: 4 / 3;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}