.number_steps {
    background-color: var(--col-secondary-200);
    &__grid {
        margin-inline: auto;
        display: grid;
        gap: 0.5rem;
        max-width: 1050px;
    }
    &__card {
        display: grid;
        grid-template-columns: 7rem auto;
        border-radius: var(--border-sm);
        overflow: hidden;
    }
    &__card_step {
        background-color: var(--col-primary-400);
        color: white;
        font-weight: var(--fw-600);
        padding: 0.5rem 1rem;
        text-transform: uppercase;
    }
    &__card_inner {
        padding: 0.5rem 1rem;
        background-color: white;
        text-align: start;
    }
}