.quote_form_hero {
    min-height: 500px;
    background-color: var(--col-primary-400);

    .container-xl {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (min-width:992px) {
            background-size: contain;
            background-position: right;
        }
        height: 100%;
        position: relative;
        isolation: isolate;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-image:
                linear-gradient(0deg, hsl(var(--hsl-primary-400) / 0.78) 0%, hsl(var(--hsl-primary-400) / 0.78) 100%);
            @media (min-width:576px) {
                background-image:
                    linear-gradient(45deg, var(--col-primary-400) 40%, transparent),
                    linear-gradient(0deg, hsl(var(--hsl-primary-400) / 0.78) 0%, hsl(var(--hsl-primary-400) / 0.78) 100%);
            }
            @media (min-width:992px) {
                background-image:
                    linear-gradient(0deg, hsl(var(--hsl-primary-400) / 0.78) 0%, hsl(var(--hsl-primary-400) / 0.78) 100%),
                    radial-gradient(circle at 70%, transparent, var(--col-primary-400) 40%);
            }
            z-index: -1;
        }
    }
    
    display: flex;
    
    
    color: white;
    span {
        color: var(--col-secondary-400);
    }

    .container-xl {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        line-height: 1;
        text-wrap: balance;
        @media (min-width:576px) {
            line-height: 1;
        }
        span.smaller {
            color: white;
            font-size: var(--fs-800);
            font-weight: var(--fw-400);
            line-height: 1;
        }
    }


    .hero_form {
        width: min(600px,90vw);
        background-color: white;
        border-radius: var(--border-xs);
        margin-inline: auto;
        padding: 2rem;

        .gform_heading { display: none; }        
        // form {
        //     display: grid;
        //     gap: 0.5rem;
        //     align-items: start;
        //     @media (min-width:576px) {
        //         grid-template-columns: 1fr auto;
        //     }
        //     .gform_footer {
        //         margin-top: 0;
        //     }
        // }
        .gform-body {
            // width: 75%;
        }
        label {
            display: none !important;
        }

        // input[type=text] {
        //     border: none;
        //     text-align: center;
        //     padding: 0.5rem 1rem;
        //     height: 60px;
        // }

        button[type=submit] {
            width: 100%;
            margin-top: 0.5rem;
             text-transform: initial;
             background-color: var(--col-secondary-400);
            border: none;
            height: 50px;
            padding: 0.5rem 1rem;
            display: grid;
            place-content: center;
            transition: background-color var(--transition);
            span {
                color: white;
                text-align: left;
                display: inline-block;
                line-height: 1.2;
            }
            &:hover {
                background-color: color-mix(in srgb, var(--col-secondary-400), white 20%);
            }
        }

        .gform_footer {
            padding: 0 !important;
        }
    }

    &__usp {
        .icon_grid {
            display: flex;
            justify-content: space-around;
            gap: 2rem;
            flex-wrap: wrap;
            margin-bottom: 3rem;
            & > div {
                width: 200px;
                text-align: center;
                img {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 0.5rem;
                }
            }
        }

        a {
            color: var(--col-secondary-400) !important;
            &:hover{
                color: var(--col-primary-900) !important;
            }
        }

    }

}

.quote_block {
    .gform_heading {
        display: none;
    }
    .gform_footer {
        padding-block: 0 !important;
    }
    label {
        display: none !important;
    }
    button[type=submit] {
        @extend .btn;
        @extend .btn-secondary-outline;
        width: 100%;
    }
}